body {
    font-family: Helvetica Arial, sans-serif;
    background-color: beige;
}
img {
height: auto;
width: 250px;
}

h1, h3 {
    background-color: burlywood;
}

p, li {
    color: rgb(19, 19, 19);
}